@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  transition: background-color 0.4s ease-in-out;
}

body.dark-mode {
  background-color: #202020 !important;
  color: #fff !important;
}
body.light-mode {
  background-color: #ffffff !important;
  color: #202020 !important;
}
